input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .form-container {
      width: 340px;
      margin: 30px;
  }
  
  .submit-button {
    width: 300px;
  }

.form {
    display: flex;
    flex-flow: column;
    justify-content: center;
}