.container {
  display: flex;
  flex-flow: row;
}


input[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.form-container {
    width: 340px;
    margin: 30px;
}

.submit-button {
  width: 300px;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
}


table, th, td {
border: 1px solid black;
border-collapse: collapse;
font-size: small;
}

th, td {
padding: 5px;  
 

}

.table {
  margin: 30px;
}

.action  {   
display: flex; 
flex-flow: row;
}


.popup {
  display: flex;
  flex-flow: column;
  max-width: 300px;
  min-width: 250px;
  height: auto;
  background-color: rgb(193, 201, 201);
  border: 1px solid black;
  margin: 30px;
  border-radius: 5px;
}

p{
  margin-left: 20px;
}

.close {
  
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 15px;
  padding: 10px;
  width: auto;
  box-shadow: none;
  
}

.close-button {
  text-align: right;
  height: 35px;
}